.dashboard-wrapper {
  width: 100%;
  min-height: 100vh !important;
  .profile-wrapper {
    position: relative;
    float: right;
    margin-right: 12px;
    .avatar {
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: #1890ff;
      border-radius: 18px;
      text-align: center;
      line-height: 36px;
      color: #fff;
    }
    .editBtn,
    .logoutBtn {
      margin-right: 8px;
    }
  }
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 48px;
    width: 80%;
    margin: 16px auto;
    background-image: url('../../assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }
}
