<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hos.mapper.TProductMapper">
  <resultMap id="BaseResultMap" type="com.example.hos.model.TProduct">
    <id column="P_ID" jdbcType="VARCHAR" property="pId" />
    <result column="S_ID" jdbcType="VARCHAR" property="sId" />
    <result column="P_NAME" jdbcType="VARCHAR" property="pName" />
    <result column="PLACE" jdbcType="VARCHAR" property="place" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    P_ID, S_ID, P_NAME, PLACE, SPEC, PRICE, REMARK, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.example.hos.model.TProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_PRODUCT
    where P_ID = #{pId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_PRODUCT
    where P_ID = #{pId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.hos.model.TProductExample">
    delete from T_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.hos.model.TProduct">
    insert into T_PRODUCT (P_ID, S_ID, P_NAME, 
      PLACE, SPEC, PRICE, 
      REMARK, STATUS)
    values (#{pId,jdbcType=VARCHAR}, #{sId,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hos.model.TProduct">
    insert into T_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        P_ID,
      </if>
      <if test="sId != null">
        S_ID,
      </if>
      <if test="pName != null">
        P_NAME,
      </if>
      <if test="place != null">
        PLACE,
      </if>
      <if test="spec != null">
        SPEC,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.hos.model.TProductExample" resultType="java.lang.Long">
    select count(*) from T_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_PRODUCT
    <set>
      <if test="record.pId != null">
        P_ID = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.sId != null">
        S_ID = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.pName != null">
        P_NAME = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.place != null">
        PLACE = #{record.place,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        SPEC = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_PRODUCT
    set P_ID = #{record.pId,jdbcType=VARCHAR},
      S_ID = #{record.sId,jdbcType=VARCHAR},
      P_NAME = #{record.pName,jdbcType=VARCHAR},
      PLACE = #{record.place,jdbcType=VARCHAR},
      SPEC = #{record.spec,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hos.model.TProduct">
    update T_PRODUCT
    <set>
      <if test="sId != null">
        S_ID = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        P_NAME = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        PLACE = #{place,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        SPEC = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where P_ID = #{pId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hos.model.TProduct">
    update T_PRODUCT
    set S_ID = #{sId,jdbcType=VARCHAR},
      P_NAME = #{pName,jdbcType=VARCHAR},
      PLACE = #{place,jdbcType=VARCHAR},
      SPEC = #{spec,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR}
    where P_ID = #{pId,jdbcType=VARCHAR}
  </update>
</mapper>