<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>用户名</td>
            <td>密码</td>
            <td>电话</td>
            <td>角色</td>
            <td>头像</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:object="${session.user}" th:each="user">
            <td th:text="*{id}">id</td>
            <td th:text="*{username}">用户名</td>
            <td th:text="*{password}">密码</td>
            <td th:text="*{phone}">电话</td>
            <td th:text="*{rid}">角色</td>
            <td th:text="*{status}">状态</td>
            <td>
                <a th:href="@{/user/delete(id=*{id})}">删除</a>
                <a th:href="@{/user/update}">修改</a>
            </td>
        </tr>
    </table>
</body>
</html>