<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>用户名</td>
            <td>密码</td>
            <td>电话</td>
            <td>角色</td>
            <td>头像</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:object="${session.user}" th:each="user:${session.user}">
            <td th:text="*{uId}">id</td>
            <td th:text="*{username}">用户名</td>
            <td th:text="*{password}">密码</td>
            <td>
                <div style=" margin-top: 0px;margin-left:0px;width: 25px;height: 25px;display: flex;border-radius: 50%;align-items: center;justify-content: center;overflow: hidden;">
                    <img th:src="*{photo}">
                </div>
            </td>
            <td th:text="*{phone}">电话</td>
            <td th:text="*{roleId}">角色</td>
            <td th:text="*{status}">状态</td>
            <td>
                <a th:href="@{/user/delete(id=*{uId})}" οnclick="return confirm('确定要删除吗?')">删除</a>
                <a th:href="@{/user/toUpdate}">修改</a>
            </td>
        </tr>
    </table>
</body>
</html>